<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>
  <section style="background-color: #eee;">
    <div class="container py-5">

      <div class="row d-flex justify-content-center">
        <div class="col">
          <div class="overflow-auto bg-white p-10 rounded-top" id="chatarea"
            style="min-width: 700px; min-height: 500px; max-height: 500px;">

          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your text here..." id="inp-user">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" onclick="usersubmit()">Submit</button>
            </div>
          </div>
        </div>
      </div>
  </section>
  <script>
    var Alltext = "";
    function usersubmit() {
      Alltext = document.getElementById("chatarea").innerHTML;
      user = "<div class='m-3 bg-light rounded p-3'><i class='fa fa-user'></i> " + document.getElementById("inp-user").value + "</div>"
      document.getElementById("chatarea").innerHTML = Alltext + user;
      var objDiv = document.getElementById("chatarea");
      objDiv.scrollTop = objDiv.scrollHeight;
      fetch("/fromuser", {
        method: "POST",
        body: JSON.stringify({
          usertext: document.getElementById("inp-user").value
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      })
        .then((response) => response.json())
        .then((json) => addtext(json));
    }
    function addtext(text) {
      Alltext = document.getElementById("chatarea").innerHTML;
      bot = "<div class='m-3 bg-info rounded p-3'><i class='fa fa-robot'></i> " + text + "</div>"
      document.getElementById("chatarea").innerHTML = Alltext + bot;
      var objDiv = document.getElementById("chatarea");
      objDiv.scrollTop = objDiv.scrollHeight;
    }
  </script>
</body>

</html>
